div {
  font-family: Arial, Helvetica, sans-serif;
}

.server-sidebar {
  width: 90px;
  background-color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.server-icon {
  width: 70px;
  height: 70px;
  border-radius: 300px;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}

.sidebar {
  width: 150px;
  background-color: rgb(75, 75, 75);
  position: fixed;
  left: 90px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.info-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-head-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.info-head-button {
  background-color: rgb(75, 75, 75);
  color: rgb(165, 165, 165);
  border-style: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.info-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.info-side-text {
  margin-right: 10px;
  color: gray;
}

.info-text {
  color: gray;
}