.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture-tooltip-container {
  position: relative;
  display: inline-block;
}

.channel-picture-tooltip-container .tooltip {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 17px;
  bottom: -76px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.15s;
  z-index: 50;
}

.channel-picture-tooltip-container:hover .tooltip {
  opacity: 1;
}

.channel-picture-tooltip-picture{
  width: 50px;
  margin-right: 10px;
}

.profile-tooltip-picture {
  width: 50px;
  border-radius: 25px;
}

.channel-picture-tooltip-info-name {
  font-weight: bold;
  font-size: 15px;
  flex: 1;
  margin-bottom: 5px;
}

.channel-picture-tooltip-info-text {
  flex: 1;
  font-size: 12px;
  color: gray;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stat {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 14px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stat {
    font-size: 14px;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}